<ul class="nav" role="menu">
    <!--li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li-->
    <li class="nav-mathematics" role="menuitem"><a href="{{site.baseurl}}tag/mathematics/">Mathematics</a></li>
    <li class="nav-computer-science" role="menuitem"><a href="{{site.baseurl}}tag/computer-science/">Computer Science</a></li>
    <li class="nav-education" role="menuitem"><a href="{{site.baseurl}}tag/education/">Education</a></li>
    <li class="nav-education" role="menuitem"><a href="{{site.baseurl}}tag/education/">All Tags</a></li>
    <li class="nav-author" role="menuitem"><a href="{{site.baseurl}}author/robert/">Connect</a></li>
</ul>
